@import "../../../styles/variables";
.users-list {
    list-style-type: none;
    height: 400px;
    padding-top:10px; 
    overflow: auto;
    li {
        padding: 10px;
        overflow: auto;
        img {
          float: left;
          margin: 0 15px 0 0;
        }
      }
      
      li:hover {
        background: $color-border-light;
        cursor: pointer;
      }
      li.selected {
        background:$color-border-dark;
      }
      .user-title{
          text-align: start;
          padding: 10px;
      }
  }
 
  @media screen and (max-width: 600px){
    .users-list {
      height: 200px;
    }
  }